img{
    width: 308px;;
    float: left;
    padding: 27px;

    
}

.div1{
    
        padding-top: 51px;
        
        
}

.p2{
    display: table-cell;
text-align: initial;
padding-left: 40px;

}