
<div class="grid text-center" style="background-color:  aquamarine ; height: 624px; border: solid black;">
    <div class="g-col-6"  style="background-color:#EB5406  ;border: solid black;
    height: 622px; width: 308px;"><img src="../assets/1111.jpg"  alt="">
    <p style="text-align: initial; padding-left: 14px"><b>Adress:</b>A/3 Nehru Nagar</p>
<p style="text-align: initial; padding-left: 31px">Post-Rajendra Nagar</p>
<P style="text-align: initial; padding-left: 31px">Lucknow , Uttar Pradesh-226004</P>

<p style="text-align: initial; padding-left: 14px"><b>Email:</b>kuldeepakkushwaha08@gmail.com</p>

<p style="text-align: initial; padding-left: 14px"><b>Phone:</b>8887729042</p></div>
    <div class="g-col-6" style="margin-top: -553px;">
        <h5 style="padding-right: 486px; font-family: 'Libre Baskerville', serif;">HTML & CSS DEVELOPER</h5>
        <H1 style="padding-right: 336px; font-family: 'Libre Baskerville', serif;"><b>Kuldeepak Kushwaha</b> </H1>
        <div class="div1"><h4 style="padding-right: 620px; font-family: 'Libre Baskerville', serif;"><b>Description</b> </h4>
            <p class="p2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium numquam dicta quos laborum, expedita dolorem, ut vel quia enim optio dolores et autem sunt quis? Porro libero eligendi corrupti dolor sed numquam facilis ut ea incidunt, quam quae commodi. Perspiciatis!</p></div>
        
    </div>
  </div>
